.label-box {
  border: 1px solid #d8d6de;
  background-color: #f5f5f8;
  padding: 0.288rem 0.857rem;
  border-radius: 0.357rem;
  //   color: rgb(56, 56, 56);
  font-weight: 500;
  margin-bottom: 0rem;
  font-size: 0.857rem;
  // line-height: 1;
  min-height: 2rem;
  // overflow-x: auto;
}
.invalid-label-box {
  border: 1px solid red;
  background-color: #f5f5f8;
  padding: 0.288rem 0.857rem;
  border-radius: 0.357rem;
  //   color: rgb(56, 56, 56);
  font-weight: 500;
  margin-bottom: 0rem;
  font-size: 0.857rem;
  // line-height: 1;
  min-height: 2rem;
  // overflow-x: auto;
}
