@import '../../../../@core/scss/base/bootstrap-extended/include';
@import '../../../../@core/scss/base/components/include';

.pre-costing-sheet-report-table-table {
  width: 100%;
  table-layout: fixed;

  .table-responsive {
    width: 100%;
    // overflow-y: initial;
  }

  th,
  td {
    padding-top: 1px !important;
    padding-bottom: 1px !important;
    padding-left: 1.5px !important;
    padding-right: 1.5px !important;
    margin-left: 0em;
    margin-right: 0em;
    font-size: 11.5px !important;
    overflow: hidden;
    white-space: nowrap;
    -moz-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    // min-width: 80px;
  }
  th,
  td.sl {
    min-width: 10px;
    text-align: center;
  }
  th,
  td.action {
    min-width: 20px;
    text-align: center;
  }
  .no-record {
    text-align: center;
    td {
      padding: 25px 0 25px 0px !important;
    }
  }
  .custom-control {
    z-index: 0;
  }
  tbody {
    margin-bottom: 500px;
  }
  .form-control:disabled {
    background-color: ghostwhite;
  }
}
