.productionProcessGroupTable {
  width: 100%;

  thead {
    tr {
      th {
        padding: 0.2rem 0 !important;
        vertical-align: middle;
        height: 30px;      }
    }
  }

  tbody {
    tr {
      td {
        padding: 0 !important;
      }
    }
  }
}

.stickyTableHead {
  position: static;
  // position: sticky;
  top: 0;
  z-index: 0;
}

.childTable {
  width: 95%;
  margin: 0.5rem auto;
  thead {
    tr {
      th {
        background-color: rgba(115, 103, 240, 0.15) !important;
      }
    }
  }
}

.inputBoxCenterAlign {
  text-align: center;
}